.header-principal {
  background: #4169e1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.header-logo {
  font-size: 1.5rem;
  color: aliceblue;
}

.header-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3em;

  & :hover {
    background-color: white;
    color: black;
  }
}
.header-link {
  color: #fff;
  text-decoration: none;
  padding: 0.4em;
  border-radius: 10px;
}
