.card-filter{
    margin: 1em;
    margin-top: 2em;
}
.aside-filter {
    width: 80%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 0.8em;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    margin-left: 5em;
}
.input-search {
    font-family: "Rubik";
    margin: 1em;
    max-width: 190px;
}
.input-search input{
    font-size: 100%;
    padding: 0.5em;
    outline: none;
    border: 2px solid rgb(200, 200, 200);
    border-radius: 15px;
    width: 100%;
    margin-left: 0.5em;
    margin-top: 2em;
}
.filter-name {
    margin: 0.2em;
    position: absolute;
}
.card-result-filter {
    margin: 0.5em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    align-items: center;
}

