.hotel-uni {
  padding: 1rem;
}
.hotel-name {
  text-align: center;
}
.hotel-rating {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 1em;
  padding: 0 1rem;
}
.hotel-rating-value {
  font-weight: 600;
  font-size: 18px;
}
.slider-reservation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
}
.slider-reservation h4 {
  font-size: 1rem;
  padding: 1rem;
}
.slider-reservation img {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 0.5rem;
}
.hotel-map {
  border: 1px solid black;
}
.ponter {
  color: #ff0000;
  font-size: 2em;
}
.hotel-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.hotel-others {
  margin: 1em;
}
.hotel-reservation {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 760px) {
  .slider-reservation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .slider-reservation img {
    width: 400px;
  }
  .hotel-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
  }
  .hotel-description-box {
    width: 400px;
  }
  .hotel-map {
    width: 400px;
  }
}
